@import "vars";

body {
    background: #4d0285;
    color: #fff;
    font: 300 16px "Open Sans", Helvetica, Arial;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

nav {
    background: rgba(77, 2, 133, 0.9);
    color: #fff;
    left: 0;
    height: 52px;
    line-height: 52px;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;


    .hamburger {
        margin: 10px 0 0 0;
        .draw-path { @include animation-duration(0.5s) }
        .delay-1 { @include animation-delay(0.3s) }
        .delay-2 { @include animation-delay(0.6s) }
    }

    .lang {
        float: right;
    }
}

.block {
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}

.vcenter-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.vcenter-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.separator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.line {
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    width: 80px;
}

#content1 {
    background-image: url("/images/mountains.jpg");
    height: 100vh;

    h1 {
        font-weight: 400;
        font-size: 28px;
        margin: 10px 0;
        text-transform: uppercase;

        span {
            margin: 0 5px;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 20px;
        margin: 10px 0;
    }
}

#content2 {
    background: #37c8ca;
    padding: 30px 0;

    h1 {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
    }
    h2 {
        color: #175375;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }
    .desc {
        margin: 20px 0;
        font-weight: 400;
        padding: 0 40px;
    }

    .mobile, .laptop, .desktop {
        position: relative;

        img {
            position: relative;
            z-index: 1;
        }

        .screen {
            background: no-repeat center 0;
            @include background-size(cover);
            position: absolute;
            z-index: 0;

            &.animate {
                @include animation(scroll-up 4s 2s ease-in-out forwards);
            }
        }
    }

    .mobile {
        margin: 0 auto;
        width: 320px;
        @include respond-to(mobile) {
            width: 200px;
        }

        .screen {
            background-image: url("/images/askmen-iphone6-content.jpg");
            bottom: 16%;
            left: 15.7%;
            right: 15.7%;
            top: 21.1%;

            @include respond-to(mobile) {
                right: 15.7%;
            }
        }
    }
    .laptop {
        margin: 0 auto;
        width: 640px;

        @include respond-to(mobile) {
            width: 200px;
        }

        .screen {
            background-image: url("/images/askmen-macbook-content.jpg");
            bottom: 17.3%;
            left: 17.6%;
            right: 17.6%;
            top: 16.6%;
            z-index: 0;

            @include respond-to(mobile) {
                right: 15.7%;
            }
        }
    }
}

#content3 {
    background-image: url("/images/mountains3.jpg");
}

#content4 {
    background-image: url("/images/beach.jpg");
}

#content5 {
    background-image: url("/images/timelapse.jpg");
}

#content6 {
    background-image: url("/images/mountains.jpg");
}

.draw-path {
    @include animation(draw-path 3s linear forwards);
}

@include keyframes(draw-path) {
    100% {
        stroke-dashoffset: 0
    }
}

.float-up {
    display: inline-block;
    @include opacity(0);
    @include transform(translate3d(0, 20px, 0));
    &.animate {
        @include animation(float-up 1s ease-out forwards);
    }
    &.large {
        @include transform(translate3d(0, 50px, 0));
    }
}

@include keyframes(float-up) {
    100% {
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
    }
}

.delay-1 { @include animation-delay(1s !important) }
.delay-2 { @include animation-delay(2s !important) }
.delay-3 { @include animation-delay(3s !important) }

@include keyframes(scroll-up) {
    0% {
        background-position: center 0;
    }
    50% {
        background-position: center 100%;
    }
    100% {
        background-position: center 0;
    }
}