@import "vars";

html {
    height: 100%;

    &.nav-open {
        overflow: hidden;
    }
}

body {
    background: #4d0285;
    color: #fff;
    font: 300 16px "Open Sans", Helvetica, Arial;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-weight: 400;
}

nav {
    background: rgba(77, 2, 133, 0.9);
    color: #fff;
    left: 0;
    height: 52px;
    line-height: 52px;
    padding: 0 10px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    @include transition(height 200ms);
    z-index: 1000;

    .hamburger {
        cursor: pointer;
        float: left;
        margin: 13px -32px 0 5px;
        width: 32px;

        .draw-path { @include animation-duration(0.5s) }
        .delay-1 { @include animation-delay(0.3s) }
        .delay-2 { @include animation-delay(0.6s) }
    }

    .lang {
        float: right;
    }

    #logo {
        display: inline-block;
        margin: 5px 0;
        @include transform(scale(0));
        @include transition(transform 750ms ease-in-out);
        &.active {
            @include transform(scale(1));
        }
    }

    ul {
        display: none;
        list-style: none;
        margin: 0 -10px;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }

        .primary a {
            display: block;
            font-size: 24px;
            font-weight: 600;
            margin: 0 -10px;
            text-transform: uppercase;
            @include transition(background 300ms);

            &:hover {
                background: #954dcf
            }
        }

        .secondary a {
            font-size: 16px;
            display: inline-block;
        }
    }

    .nav-open & {
        height: 100%;

        ul {
            display: block;
        }
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.block {
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    text-align: center;
}

.vcenter-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.vcenter-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.separator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.line {
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    width: 80px;
}

.rotate span {
    display: inline-block;
    @include transition(transform 150ms);
}

.rotate:hover span {
    @include transform(rotate(90deg));
}

.visit {
    line-height: 2em;
    margin: 30px 0 0 0;
}

#content1 {
    background-image: url("/images/mountains.jpg");
    height: 100vh;
    min-height: 55vw;

    h1 {
        font-size: 28px;
        margin: 10px 0;
        text-transform: uppercase;

        span {
            margin: 0 5px;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 20px;
        margin: 10px 0;
    }
}

#content2, #content3, #content4, #content5 {
    h1 {
        line-height: 1.25em;
        font-size: 24px;
        margin: 0 0 1em 0;
        text-align: center;
    }

    h2 {
        color: #175375;
        font-size: 28px;
        font-weight: 400;
        line-height: 1.15em;
        text-align: center;
    }

    .desc {
        line-height: 1.5em;
        margin: 20px 0;
        font-weight: 400;
        padding: 0 40px;
    }
}

#content2 {
    background: #37c8ca;
    line-height: 0;

    .mobile, .laptop, .desktop {
        position: relative;

        img {
            position: relative;
            z-index: 1;
        }

        .screen {
            background: no-repeat center 0;
            @include background-size(cover);
            position: absolute;
            z-index: 0;

            &.animate {
                @include animation(scroll-up 6s 2s ease-in-out forwards);
            }
        }
    }

    .mobile {
        margin: 0 auto 70px auto;
        max-width: 10%;
        top: 70px;
        z-index: 10;

        @include respond-to(mobile) {
            max-width: 20%;
            right: 0;
            top: 0;
        }

        .screen {
            background-image: url("/images/askmen-iphone6-content.jpg");
            bottom: 15%;
            left: 15.7%;
            right: 15.7%;
            top: 21.1%;

            @include respond-to(mobile) {
                right: 15.7%;
            }
        }
    }

    .laptop {
        bottom: 20px;
        margin: 0 auto;
        max-width: 35%;
        right: 10%;

        @include respond-to(mobile) {
            max-width: 70%;
            right: 0;
        }

        .screen {
            background-image: url("/images/askmen-macbook-content.jpg");
            bottom: 16%;
            left: 17.6%;
            right: 17.6%;
            top: 16.6%;

            @include respond-to(mobile) {
                right: 15.7%;
            }
        }
    }
    .desktop {
        margin: 0 auto;
        max-width: 40%;
        left: 7%;

        @include respond-to(mobile) {
            max-width: 70%;
            left: 0;
        }

        .screen {
            background-image: url("/images/askmen-imac-content.jpg");
            bottom: 31%;
            left: 10%;
            right: 10%;
            top: 13%;

        }
    }

    #content-2-mobile {
        margin-top: 50px;
        .img {
            vertical-align: middle;
        }
        img {
            width: 100%;
        }
        .img1, .img4 {
            width: 16%;
        }
        .img2, .img3 {
            margin: 0 1%;
            width: 20%;
        }
    }
}

#content3 {
    background: #232227;
    padding-bottom: 15%;

    h2 {
        color: #88bc08;
    }

    .mm-logo {
        width: 30%;
        margin-bottom: -11%;
        position: relative;
        z-index: 2;
    }

    .mm-1, .mm-2 {
        width: 100%;
    }
}

#content4 {
    background: #50dcba;
    padding-bottom: 16%;

    h2 {
        color: #16735c;
    }

    img {
        width: 100%;        
    }

    .book1 {
        max-width: 650px;
    }

    .book2, .book3 {
        max-width: 360px;
    }
}

#content5 {
    background: #4c0085 url("/images/surf.jpg") center top;
    @include background-size(cover);

    h1 {
        padding-top: 25%;

        @include respond-to(mobile) {
            padding-top: 50%;
        }
    }

    .line {
        margin-bottom: 60px;
    }

    .button {
        border: 1px solid #fff;
        display: inline-block;
        @include border-radius(8px);
        font-size: 20px;
        margin-bottom: 30px;
        padding: 10px 20px;
        @include transition(background 0.5s, color 0.5s);

        &:hover {
            background: #fff;
            color: #4d0285;
        }
    }

    .links {
        a {
            border-bottom: 1px solid transparent;
            @include transition(border-bottom-color 0.5s);

            &:hover {
                border-bottom-color: #fff;
            }
        }
    }
}

.draw-path {
    @include animation(draw-path 3s linear forwards);
}

@include keyframes(draw-path) {
    100% {
        stroke-dashoffset: 0
    }
}

.float-up {
    display: inline-block;
    @include opacity(0);
    @include transform(translate3d(0, 20px, 0));
    &.animate {
        @include animation(float-up 1s ease-out forwards);
    }
    &.large {
        @include transform(translate3d(0, 50px, 0));
    }
}

@include keyframes(float-up) {
    100% {
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
    }
}

.delay-1 { @include animation-delay(1s !important) }
.delay-2 { @include animation-delay(2s !important) }
.delay-3 { @include animation-delay(3s !important) }

@include keyframes(scroll-up) {
    0% {
        background-position: center 0;
    }
    50% {
        background-position: center 100%;
    }
    100% {
        background-position: center 0;
    }
}