@import "compass";

body {
    background: #4d0285;
    font: 300 16px "Open Sans", Helvetica, Arial;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

nav {
    background: rgba(77, 2, 133, 0.9);
    color: #fff;
    left: 0;
    height: 52px;
    line-height: 52px;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;


    .hamburger {
        margin: 10px 0 0 0;
        .draw-path { @include animation-duration(0.5s) }
        .delay-1 { @include animation-delay(0.3s) }
        .delay-2 { @include animation-delay(0.6s) }
    }

    .lang {
        float: right;
    }
}

.block {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.vcenter-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.vcenter-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#content1 {
    background-image: url("/images/mountains.jpg");

    h1 {
        color: #fff;
        font-weight: 400;
        font-size: 28px;
        margin: 10px 0;
        text-transform: uppercase;

        span {
            margin: 0 5px;
        }
    }

    h2 {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        margin: 10px 0;
    }
}

#content2 {
    background-image: url("/images/mountains2.jpg");
}

#content3 {
    background-image: url("/images/mountains3.jpg");
}

#content4 {
    background-image: url("/images/beach.jpg");
}

#content5 {
    background-image: url("/images/timelapse.jpg");
}

#content6 {
    background-image: url("/images/mountains.jpg");
}

.draw-path {
    @include animation(draw-path 3s linear forwards);
}

@include keyframes(draw-path) {
    100% {
        stroke-dashoffset: 0
    }
}

.float-up {
    @include animation(float-up 1s ease-out forwards);
    @include filter(blur(2px));
    display: inline-block;
    @include opacity(0);
    @include transform(translate3d(0, 20px, 0));
}

@include keyframes(float-up) {
    100% {
        @include filter(none);
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
    }
}

.delay-1 { @include animation-delay(1s) }
.delay-2 { @include animation-delay(2s) }
.delay-3 { @include animation-delay(3s) }